html {
    width: 1280px;
}

body {
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: #eee;
}

.bar {
    float: left;
    margin: 0 10px 0 10px;
}

.pie {
    float: left;
    margin: 0 10px 0 10px;
}

.chart-section {
    margin-bottom: 20px;
    height: 500px;
    padding: 10px;
    background-color: #ddd;
}

h1 {
    margin: 0;
}

#title {
    margin: 20px 0 20px 0;
    padding: 20px;
    height: 70px;
    background-color: #ddd;
    text-align: center;
    font-size: 2em;
}