@font-face {
    font-family: 'SansationRegular';
    src: url('../fonts/Sansation_Regular-webfont.eot');
    src: url('../fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('../fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationLight';
    src: url('../fonts/Sansation_Light-webfont.eot');
    src: url('../fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Light-webfont.woff') format('woff'),
         url('../fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('../fonts/Sansation_Bold-webfont.eot');
    src: url('../fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('../fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    width: 1280px;
    margin: auto;
}

body {
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: #eee;
}

.bar {
    float: left;
    margin: 0 10px 0 10px;
}

.pie {
    float: left;
    margin: 0 10px 0 10px;
}

.chart-section {
    margin-bottom: 20px;
    height: 500px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #aaa;

}

h1 {
    font-family: "SansationBold","san-serif";
    margin: 0;
}

h2 {
    font-family: "SansationRegular","san-serif";
}

#title {
    margin: 20px 0 20px 0;
    padding: 20px;
    height: 70px;
    background-color: #ddd;
    text-align: center;
    font-size: 2em;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #aaa;
}