html {
    width: 1280px;
}

body {
    width: 85%;
    margin: auto;
    padding: 20px;
    background-color: #eee;
}

.bar {
    float: left;
}

.pie {
    float: right;
}

.chart-section {
    margin-bottom: 20px;
    height: 500px;
    padding: 10px;
    background-color: #ddd;
}